[submodule "EmeraldEngine/vendor/glfw"]
	path = EmeraldEngine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "EmeraldEngine/vendor/spdlog"]
	path = EmeraldEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EmeraldEngine/EmeraldEngine/vendor/glm"]
	path = EmeraldEngine/vendor/glm
	url = https://github.com/g-truc/glm
